<% content_for :title do %><%= @page_title %> - <%= SiteSetting.title %><% end %>

<% content_for :head do %>
  <meta id="discourse-error" data-discourse-error="true">
<% end %>

<% content_for :no_ember_head do %>
  <meta id="discourse-error" data-discourse-error="true">
<% end %>

<div class="page-not-found">
  <h1 class="title"><%= @title %></h1>

  <%- if !@current_user %>
    <button id="login-cta" type="button" class='btn btn-primary'><%= SvgSprite.raw_svg('fa-user') %><%= I18n.t('log_in') %></button>
  <%- end %>
</div>

<%= build_plugin_html 'server:not-found-before-topics' %>

<%= @topics_partial %>

<style>
  .d-header {
    display: none;
  }
</style>

<script defer nonce="<%= csp_nonce_placeholder %>">
  window.triggerAuth = function() {
    window.parent.postMessage({ message: 'triggerAuth', params: { pathname: window.location.pathname } }, '*')
  }

  const notFoundLoginButton = document.getElementById('login-cta')
  if (notFoundLoginButton) {
    notFoundLoginButton.addEventListener('click', window.triggerAuth)
  }
</script>
